@mixin yellow-hover {
    border-color: $yellow;
    transform: translateX(5px) rotateZ(-45deg);
}

@mixin after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 3.6rem;


    border: 3px solid $white;
    border-radius: 2px;
    border-top: none;
    border-left: none;
    vertical-align: middle;

    transform: rotateZ(-45deg);
    transition: border-color .2s linear, transform .2s ease-in-out;
}

@mixin hide-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    box-orient: vertical;
}


/* Media queries
=============================*/

@mixin breakpoint($bp) {
    @media screen and (max-width: $bp) {
        @content;
    }
}