$black: #000;
$white: #fff;   
$yellow: #F9BC6E;
$yellow-darken: #C59E6F;  
$yellow-black: #DFA762;
$gray: #C8C8C8;
$periwinkle: #B070FF;


$laptop: 1919px;
$notebook-large: 1600px;
$notebook: 1199px;
$tablet: 991px;
$mobile-large: 767px;
$mobile: 565px;
$mobile-sm: 320px;


/* Aos variables
=============================*/

$aos-distance: 50px !default;