@import "vars";
@import "fonts";
@import "vendor/reset";
@import "mixins";

html {
    font-size: 10px;
}

body {
    background-color: $white;

    font-family: 'HK Grotesk', sans-serif;
    font-size: 1.8rem;
    color: $black;

    &.no-scroll,
    &.show-nav {
        overflow: hidden;
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/* Slider Swiper
=============================*/

@import '../../../node_modules/swiper/swiper.scss';

/* Vendor
=============================*/

@import 'vendor/swiper.scss';


/* Blocks
=============================*/

@import "blocks/page";
@import "blocks/header";
@import "blocks/container";
@import "blocks/nav";
@import "blocks/btn";
@import "blocks/intro";
@import "blocks/section";
@import "blocks/descriptions";
@import "blocks/subscribe";
@import "blocks/form";
@import "blocks/reviews";
@import "blocks/article";
@import "blocks/benefits";
@import "blocks/footer";
@import "blocks/blog";
@import "blocks/personal";
@import "blocks/services";
@import "blocks/info";
@import "blocks/request";
@import "blocks/step";
@import "blocks/company";
@import "blocks/industries";
@import "blocks/consultation";
@import "blocks/offer";
@import "blocks/companies";
@import "blocks/about";
@import "blocks/burger";


/* Helpers
=============================*/

@import "helpers";

/* Animations
=============================*/

@import "animations";




