.article {
    background-color: $yellow;

    &__inner {
        padding: 26rem 0 28.9rem;
        display: flex;
        flex-wrap: wrap;
        position: relative;

        @include breakpoint($laptop) {
            padding: 18rem 0 18.9rem;
        }

        @include breakpoint($notebook-large) {
            padding: 17.3rem 0 17.5rem;
        }
    
        @include breakpoint($notebook) {
            padding: 13.3rem 0 10.5rem;
        }
    
        @include breakpoint($tablet) {
            padding: 10.3rem 0 7.5rem;
        }
    
        @include breakpoint($tablet) {
            padding: 7.3rem 0 4.5rem;
        }
    }

    &__title {
        width: 35.81%;

        @include breakpoint($notebook-large) {
            width: 40%;
        }

        @include breakpoint($notebook) {
            width: 100%;
            margin-bottom: 3rem;
        }
    }

    &__content {
        width: 64.19%;
        display: flex;

        position: absolute;
        top: 50%;
        right: 0;
        z-index: 1;

        padding-left: 6.6rem;
        transform: translateY(-50%);

        @include breakpoint($notebook-large) {
            width: 60%;
            padding-left: 2rem;
        }

        @include breakpoint($notebook) {
            width: 75%;
        }

        @include breakpoint($notebook) {
            width: 100%;
            padding-left: 0;

            position: static;
            transform: none;
        }

        @include breakpoint($mobile-large) {
            flex-wrap: wrap;
        }
    }

    &__item {
        width: 50%;
        min-width: 544px;
        padding: 5.7rem 2.3rem 5.7rem 3.5rem;
        display: flex;
        flex-direction: column;

        background-color: $yellow-black;
        border-radius: 3rem;
        margin-right: 4rem;
        
        @include breakpoint($laptop) {
            min-width: auto;
        }

        @include breakpoint($notebook) {
            margin: 0 2rem 3rem;
        }

        @include breakpoint($mobile-large) {
            width: 100%;
        }
    }

    &__header {
        margin-bottom: 0.6rem;

        @include hide-text;
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }

    &__link {
        font-size: 4.4rem;
        color: $white;
        font-weight: 700;
        line-height: 1.3;

        & a {
            font-family: 'HK Grotesk', sans-serif;
            color: $white;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        @include breakpoint($notebook) {
            font-size: 3.5rem;
        }

        @include breakpoint($tablet) {
            font-size: 3rem;
        }
    }

    &__main {
        margin-bottom: 4.8rem;

        @include hide-text;
        -webkit-line-clamp: 3;
        line-clamp: 3;

        @include breakpoint($notebook) {
            margin-bottom: 3rem;
        }
    }

    &__text {
        font-family: 'HK Grotesk', sans-serif;
        font-size: 1.8rem;
        color: $white;
        font-weight: 200;
        line-height: 1.55;
    }

    &__footer {
        margin-top: auto;
    }
}