.article {
    margin: 8.05rem 0 9rem;
    background-color: $yellow;

    &__inner {
        padding: 26rem 0 28.9rem;
        display: flex;
        position: relative;
    }

    &__title {
        width: 35.81%;
    }

    &__content {
        width: 64.19%;
        display: flex;
        // flex-wrap: wrap;

        position: absolute;
        top: 50%;
        right: 0;
        z-index: 1;

        padding-left: 6.6rem;
        transform: translateY(-50%);
    }

    &__item {
        width: 50%;
        min-width: 544px;
        padding: 5.7rem 2.3rem 5.7rem 3.5rem;
        display: flex;
        flex-direction: column;

        background-color: $yellow-black;
        border-radius: 3rem;
        margin-right: 4rem;
        
    }

    &__header {
        margin-bottom: 0.6rem;

        @include hide-text;
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }

    &__link {
        font-size: 4.4rem;
        color: $white;
        font-weight: 700;
        line-height: 1.3;

        & a {
            font-family: 'HK Grotesk', sans-serif;
            color: $white;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__main {
        margin-bottom: 4.8rem;

        @include hide-text;
        -webkit-line-clamp: 3;
        line-clamp: 3;
    }

    &__text {
        font-family: 'HK Grotesk', sans-serif;
        font-size: 1.8rem;
        color: $white;
        font-weight: 200;
        line-height: 1.55;
    }

    &__footer {
        margin-top: auto;
    }
}