.benefits {
    padding: 26.4rem 0 28.3rem;
    position: relative;

    @include breakpoint($notebook-large) {
        padding: 16.4rem 0 18.3rem;
    }

    @include breakpoint($notebook) {
        padding: 12.4rem 0 14.3rem;
    }

    @include breakpoint($tablet) {
        padding: 8.4rem 0 8.3rem;
    }

    @include breakpoint($mobile-large) {
        padding: 6.4rem 0 1.3rem;
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
    }

    &__content {
        width: 42%;

        @include breakpoint($mobile-large) {
            width: 100%;
        }
    }

    &__photo {
        width: 58%;

        @include breakpoint($mobile-large) {
            width: 100%;
            height: auto;
        }
    }

    &__title {
        font-family: 'HK Grotesk', sans-serif;
        font-size: 5.2rem;
        color: $black;
        font-weight: 700;
        line-height: 1.4;

        margin-bottom: 1.8rem;

        @include breakpoint($mobile) {
            font-size: 3.5rem;
        }
    }

    &__text {
        font-family: 'HK Grotesk', sans-serif;
        font-size: 2.2rem;
        color: $black;
        font-weight: 600;
        line-height: 1.9;

        margin-bottom: 5rem;

        @include breakpoint($mobile) {
            font-size: 1.8rem;
        }
    }

    &__photo-img {
        position: absolute;
        bottom: 20px;
        right: 0;
        z-index: 1;

        max-width: 1541px;
        height: 867px;
        object-fit: cover;
        object-position: center;

        @include breakpoint($notebook-large) {
            max-width: 800px;
            height: 600px;
        }

        @include breakpoint($notebook) {
            max-width: 400px;
            height: 500px;
        }

        @include breakpoint($mobile-large) {
            position: relative;

            max-width: 100%;
            height: auto;
        }
    }
}