.btn {
    font-family: 'HK Grotesk', sans-serif;
    font-size: 1.6rem;
    color: $yellow;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;

    display: inline-block;
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 2em;
    border: 1px solid $yellow;
    cursor: pointer;

    transition: background-color .2s linear, color .2s linear;

    &:hover {
        background-color: $yellow;
        color: $white;
    }


    &--text__24 {
        font-size: 2.4rem;
        padding: 1em 2.3em;
    }

    &--intro {
        color: $white;
        background-color: $yellow;
        border-radius: .8em;

        &:hover {
            background-color: $white;
            color: $yellow;
        }
    }

    &--darken {
        width: 100%;
        background-color: $yellow-darken;
        border-radius: 2em;

        color: $white;

        &:hover {
            background-color: $white;
            color: $black;
        }
    }
}
