.companies {
    padding: 9.15rem 0 9.3rem;

    text-align: center;

    &__title {
        font-size: 2.4rem;
        color: $black;
        font-weight: 600;
        line-height: 1.2;

        opacity: .7;
        margin-bottom: 4.1rem;
    }

    &__inner {
        max-width: 1355px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__item {
        margin-bottom: 2rem;
        
        & + .companies__item {
            margin-left: 10.2rem;

            @include breakpoint($notebook-large) {
                margin-left: 0;
            }
        }

        @include breakpoint($notebook-large) {
            padding: 0 2rem;
        }
    }

    &__item-icon {
        transition: opacity .2s ease-out;
        margin: 0 auto;
        
        &:hover {
            opacity: .8;
        }
    }
}