.descriptions {
    padding: 4.5rem 0;

    @include breakpoint($tablet) {
        padding: 2rem 0;
    }

    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__item {
        position: relative;

        width: 100%;
        max-width: 972px;
        padding: 5.7rem 7.5rem 6rem 38.6rem;
        border-radius: 1rem;
        box-shadow: 0 69px 114px rgba($black, .08);

        @include breakpoint($notebook) {
            padding: 5.7rem 7.5rem 6rem 33.6rem;
            margin-bottom: 7rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        @include breakpoint($tablet) {
            padding: 5.7rem 5.5rem 6rem 27.6rem;
        }

        @include breakpoint($mobile) {
            padding: 2.5rem 1.5rem 3.5rem;
        }

        &:nth-child(even) {
            margin-left: auto;
            .descriptions__number {
                right: -37px;

                @include breakpoint($tablet) {
                    right: 0;
                    margin-left: 0;
                }
            }
        }

        &:nth-child(odd) {
            .descriptions__number {
                left: -37px;

                @include breakpoint($tablet) {
                    left: 0;
                }
            }
        }
    }

    &__number {
        font-family: 'HK Grotesk', sans-serif;
        font-size: 12.4rem;
        color: $yellow;
        font-weight: 900;
        opacity: .15;

        position: absolute;
        top: -80px;
        z-index: 1;

        @include breakpoint($tablet) {
            font-size: 8rem;
            top: -50px;
        }
    }

    &__photo-img {
        display: block;
        position: absolute;
        top: 0;
        left: 50px;
        z-index: 1;

        @include breakpoint($tablet) {
            font-size: 8rem;
            left: -20px;
        }

        @include breakpoint($mobile) {
            position: static;
            margin: 0 auto;
        }
    }

    &__title {
        font-family: 'HK Grotesk', sans-serif;
        font-size: 3.6rem;
        color: $yellow;
        font-weight: 700;

        @include breakpoint($mobile-large) {
            font-size: 2.5rem;
        }

        @include breakpoint($mobile) {
            text-align: center;
        }

        &:after {
            content: '';
            display: block;
            width: 89px;
            height: 3px;
            background-color: $yellow;
            border-radius: 2px;
            margin: 1.6rem 0;

            @include breakpoint($mobile) {
                margin: 1.6rem auto;
            }
        }
    }

    &__text {
        font-family: 'HK Grotesk', sans-serif;
        font-size: 1.8rem;
        color: $black;
        font-weight: 600;
        line-height: 1.7;

        @include breakpoint($mobile-large) {
            font-size: 1.5rem;
        }
    }
}