.descriptions {
    padding: 4.5rem 0;

    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__item {
        position: relative;

        width: 100%;
        max-width: 972px;
        padding: 5.7rem 7.5rem 6rem 38.6rem;
        border-radius: 1rem;
        box-shadow: 0 69px 114px -110px $black;

        &:nth-child(even) {
            margin-left: 44.4rem;
            .descriptions__number {
                right: -37px;
            }
        }

        &:nth-child(odd) {
            .descriptions__number {
                left: -37px;
            }
        }
    }

    &__number {
        font-family: 'HK Grotesk', sans-serif;
        font-size: 12.4rem;
        color: $yellow;
        font-weight: 900;
        opacity: .15;

        position: absolute;
        top: -80px;
        z-index: 1;
    }

    &__photo-img {
        display: block;
        position: absolute;
        top: 0;
        left: 50px;
        z-index: 1;
    }

    &__title {
        font-family: 'HK Grotesk', sans-serif;
        font-size: 3.6rem;
        color: $yellow;
        font-weight: 700;

        &:after {
            content: '';
            display: block;
            width: 89px;
            height: 3px;
            background-color: $yellow;
            border-radius: 2px;
            margin: 1.6rem 0;
        }
    }

    &__text {
        font-family: 'HK Grotesk', sans-serif;
        font-size: 1.8rem;
        color: $black;
        font-weight: 600;
        line-height: 1.7;
    }
}