.footer {
    padding: 12.15rem 0;
    background-color: $yellow;

    &__inner {
        display: flex;
        justify-content: space-between;

        margin: 0 -2.65rem;
    }

    &__block {
        display: flex;
    }

    &__nav {
        padding: 0 7.3rem;
    }

    &__title {
        font-family: 'HK Grotesk', sans-serif;
        font-size: 2.2rem;
        color: $black;
        font-weight: 700;
        line-height: 1.4;

        margin-bottom: 2.7rem;
    }

    &__address {
        padding-top: 1.1rem;

        margin-bottom: 3.8rem;
    }

    &__list-item {
        font-family: 'HK Grotesk', sans-serif;
        font-size: 1.8rem;
        color: $black;
        font-weight: 300;
        line-height: 1.75;
        text-decoration: none;

        opacity: .8;

        margin-bottom: 0.2rem;

        & a {
            text-decoration: none;
            color: $black;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__social-link {
        display: inline-block;
    }

    &__social-icon {
        width: 24px;
        height: 24px;
        fill: $black;

        transition: fill .2s linear;

        & + .footer__social-icon {
            margin-left: 2.2rem;
        }

        &:hover {
            fill: $white;
        }
    }


}