.form {
    display: flex;
    flex-direction: column;

    &__group {
        margin-bottom: 2rem;

        &.success input,
        &.success textarea {
            border-color: #436f64;
            border-width: 2px;
        }

        &.error input,
        &.error textarea {
            border-color: #df1111;
            border-width: 2px;
        }

        & .form__error {
            font-size: 1.5rem;
            color: rgb(180, 61, 61);
        }
    }
}