.header {
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1000;

   box-shadow: -15px -15px 20px 1px $black;

    &__container {
        width: 100%;
        max-width: 1750px;
        padding: 0 1.5rem;
        margin: 0 auto;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 3.1rem 0;
    }
}

.header__logo,
.footer__logo {
    display: inline-block;

    width: 194px;
    height: 28px;
}

.header__logo-icon,
.footer__logo-icon {
    width: 100%;
    height: 100%;

    transition: opacity .2s linear;

    &:hover {
        opacity: .7;
    }
}
