.industries {

    &__inner {
        display: flex;
        flex-wrap: wrap;
        max-width: 1204px;

        margin: 0 auto;
    }

    &__col {
        width: 33.33333%;
        padding: 0 1.3rem;
    }

    &__title {
        color: $black;
        font-size: 5.2rem;
        font-weight: 700;
        line-height: 1.4;

        text-align: center;
        margin-bottom: 7.1rem;
    }

    &__item {
        text-align: center;
        color: $black;

        padding: 5.9rem 6.6rem;
        box-shadow: 0 69px 114px rgba($black, .08);
    }

    &__icon {
        width: 90px;
        height: 90px;
        display: block;

        margin: 0 auto 3.6rem;
    }

    &__name {
        font-size: 2.8rem;
        font-weight: 700;
        line-height: 1.34;

        margin-bottom: 2.45rem;
    }

    &__text {
        font-size: 1.8rem;
        font-weight: 200;
        line-height: 1.6;

    }
}