.intro {
    padding-top: 38.3rem;
    padding-bottom: 35.2rem;
    position: relative;
    overflow: hidden;

    background-image: url('../images/svg/intro/intro-bg.svg');
    background-repeat: no-repeat;
    background-position: 0 bottom;

    &--dashed {
        background-image:  url('../images/svg/intro/intro-dashed.svg'), url('../images/svg/intro/intro-bg.svg');
        background-repeat: no-repeat;
        background-position: 0 750px, left bottom;
    }


    &--sm {
        padding: 31rem 0 28.1rem;
    }

    &--big {
        min-height: 1184px;
    }
    

    &__inner {
        display: flex;
    }

    &__content {
        width: 60%;
        max-width: 750px;
    }

    &__photo {
        width: 40%;

        &-bg {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 1;

            width: 960px;
            height: 1080px;
            object-fit: contain;
            object-position: center;

            &--services {
                width: 713px;
                height: 802px;
                top: 50%;
                left: 50%;

                transform: translateY(-45%);
            }

            &--audit {
                width: 777px;
                height: 874px;
                top: 50%;
                left: 50%;

                transform: translateY(-50%);
            }

            &--industries {
                width: 657px;
                height: 739px;
                top: 50%;
                left: 58%;

                transform: translateY(-51%);
            }
        }
    }

    &__title {
        font-family: 'HK Grotesk', sans-serif;
        font-size: 7.6rem;
        color: $black;
        font-weight: 700;
        line-height: 1.15;

        margin-bottom: 3.6rem;

        & span {
            color: $yellow;
        }
    }

    &__subtitle {
        font-family: 'HK Grotesk', sans-serif;
        font-size: 2.4rem;
        color: $black;
        font-weight: 600;
        line-height: 1.4;

        margin-bottom: 1rem;
    }

    &__services {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        margin-bottom: 3.5rem;

        &-icon {
            opacity: .7;
            padding-right: 3.8rem;
            width: 33.3333%;
            display: inline-block;
        }
    }
}