.intro {
    padding-top: 38.3rem;
    padding-bottom: 35.2rem;
    position: relative;
    overflow: hidden;

    background-image: url('../images/svg/intro/intro-bg.svg');
    background-repeat: no-repeat;
    background-position: 0 bottom;
    background-size: cover;

    @include breakpoint($laptop) {
        background-size: auto;
    }

    @include breakpoint($notebook) {
        padding-top: 22rem;
        padding-bottom: 0;
    }

    @include breakpoint($tablet) {
        padding-top: 17rem;
    }

    @include breakpoint($mobile-large) {
		padding-top: 13rem;
	}

    &--dashed {
        background-image:  url('../images/svg/intro/intro-dashed.svg'), url('../images/svg/intro/intro-bg.svg');
        background-repeat: no-repeat;
        background-position: 0 750px, left bottom;
    }

    &--sm {
        padding: 31rem 0 28.1rem;

        @include breakpoint($mobile-large) {
            padding: 26rem 0 23.1rem;
        }

        @include breakpoint($mobile) {
            padding: 17rem 0 14.1rem;
        }
    }

    &--big {
        min-height: 1184px;

        @include breakpoint($notebook) {
            min-height: auto;
        }
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
    }

    &__content {
        width: 60%;
        max-width: 750px;

        @include breakpoint($mobile-large) {
            width: 100%;
        }
    }

    &__photo {
        width: 40%;

        @include breakpoint($mobile-large) {
            width: 100%;
            height: auto;
        }

        &-bg {
            position: absolute;
            z-index: 1;

            object-fit: cover;
            object-position: center;

            @include breakpoint($notebook) {
                position: relative;
                margin-left: auto;
            }

            &--home {
                width: 960px;
                height: 1080px;

                right: 0;
                bottom: 0;

                @include breakpoint($notebook-large) {
                    width: 600px;
                    height: 700px;
                }

                @include breakpoint($mobile-large) {
                    width: 400px;
                    height: 500px;
                }

                @include breakpoint($mobile) {
                    width: 300px;
                    height: 400px;
                }
            }

            &--services {
                width: 713px;
                height: 802px;
                top: 50%;
                left: 50%;

                transform: translateY(-45%);

                @include breakpoint($notebook) {
                    left: 0;
                    width: 300px;
                    height: 400px;
                }
            }

            &--audit {
                width: 777px;
                height: 874px;
                top: 50%;
                left: 50%;

                transform: translateY(-50%);
            }

            &--industries {
                width: 657px;
                height: 739px;
                top: 50%;
                left: 58%;

                transform: translateY(-51%);
            }

            &--about {
                width: 759px;
                height: 854px;
                top: 50%;
                left: 58%;

                transform: translateY(-49%);
            }
        }
    }

    &__title {
        font-family: 'HK Grotesk', sans-serif;
        font-size: 7.6rem;
        color: $black;
        font-weight: 700;
        line-height: 1.15;

        margin-bottom: 3.6rem;

        position: relative;
        z-index: 2;

        @include breakpoint($notebook) {
            font-size: 5rem;
        }

        @include breakpoint($mobile-large) {
            font-size: 4rem;
        }

        @include breakpoint($mobile-large) {
            font-size: 3rem;
        }

        & span {
            color: $yellow;
        }

        &--line {
            &:after {
                content: '';
                display: block;
                width: 90%;
                height: 20px;
                background-color: $yellow;
                opacity: .2;

                position: absolute;
                top: 30%;
                left: 0;
                z-index: 1;
            }
        }
    }

    &__subtitle {
        font-family: 'HK Grotesk', sans-serif;
        font-size: 2.4rem;
        color: $black;
        font-weight: 600;
        line-height: 1.4;

        margin-bottom: 1rem;

        @include breakpoint($mobile-large) {
            font-size: 1.8rem;
        }
    }

    &__services {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        margin-bottom: 3.5rem;

        &-icon {
            opacity: .7;
            padding-right: 3.8rem;
            width: 33.3333%;
            display: inline-block;
        }
    }
}