.nav {
    @include breakpoint($notebook) {
        display: none;
        width: 100%;
        height: calc(100vh - 90px);
        flex-direction: column;
        padding-top: 1rem;
        overflow: auto;
        background-color: rgba($white, .8);
        background-size: cover;

        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 100;

        &.show {
            display: flex;
        }
    }

    &__link {
        font-family: 'HK Grotesk', sans-serif;
        font-size: 1.8rem;
        color: $black;
        font-weight: 600;
        text-decoration: none;

        height: auto;

        transition: opacity .2s linear;

        &:hover:not(.btn) {
            opacity: .6;
        }

        & + .nav__link {
            margin-left: 4.45rem;
        }

        &--arrow {
            padding-right: 2.6rem;
            position: relative;

            &:after {
                content: '';
                vertical-align: middle;
                display: inline-block;
                
                height: 10px;
                width: 10px;
                margin-left: .7rem;

                position: absolute;
                top: 50%;
                z-index: 1;

                background: none;
                border-right: 2px solid $black;
                border-bottom: 2px solid $black;
                transform: rotateZ(45deg) translateY(-85%);

                transition: transform .2s ease-in-out;
            }

            &:hover {
                &:after {
                    transform: rotateZ(-135deg);
                }
            }
        }

        @include breakpoint($notebook) {
            text-align: center;
            padding: 2rem 1rem;

            & + .nav__link {
                margin-left: 0;
            }

            &:last-child {
                background-color: $yellow;
                color: $white;
            }
        }
    }
}