.offer {
    background-image: url('../images/download/download-book.svg');
    background-repeat: no-repeat;
    background-position: 300px 50px;
    background-size: 639.5px;
    background-color: $yellow;

    @include breakpoint(1650px) {
        background-position: 100px center;
        background-size: 450px;
    }

    @include breakpoint($notebook) {
        background-position: left center;
        background-size: 350px;
    }

    @include breakpoint($tablet) {
        background-size: 150px;
        background-position: right bottom;
    }

    @include breakpoint($mobile) {
        background-image: none;
    }

    &__content {
        max-width: 660.5px;
        padding: 17.5rem 0 16.5rem;
        margin-left: auto;

        @include breakpoint($notebook) {
            padding: 7.1rem 0;
        }

        @include breakpoint($tablet) {
            max-width: none;
            text-align: center;
        }
    }

    &__title {
        font-size: 3.6rem;
        color: $white;
        font-weight: 700;
        line-height: 1.3;

        margin-bottom: 3.8rem;

        @include breakpoint($tablet) {
            font-size: 2.8rem;
            margin-bottom: 2.8rem;
        }
    }

    &__text {
        font-size: 2.2rem;
        color: $white;
        font-weight: 600;
        line-height: 1.9;

        margin-bottom: 2.55rem;

        @include breakpoint($tablet) {
            font-size: 1.8rem;
            margin-bottom: 2rem;
        }
    }
}