<!-- Article -->
<div class="article">
    <div class="container">
        <div class="article__inner">
            <h2 class="article__title">Digital Marketing Articles</h2>

            <div class="article__content">
                
                <article class="article__item">
                    <div class="article__header">
                        <h3 class="article__link">
                            <a href="#">Top 5 SaaS Businesses – August 2021</a>
                        </h3>
                    </div>
                    <div class="article__main">
                        <div class="article__text">Are you currently using one of the top SaaS businesses, according to the team at Lunar Strategy? Check out this list of our top SaaS</div>
                    </div>
                    
                    <div class="article__footer">
                        <a class="btn btn--white" href="#">Read More</a>
                    </div>
                </article>

                <article class="article__item">
                    <div class="article__header">
                        <h3 class="article__link">
                            <a href="#">12 Best SaaS WordPress Themes To Convert Lead</a>
                        </h3>
                    </div>
                    <div class="article__main">
                        <div class="article__text">Lead conversion is an essential goal for any business. Be it converting site visitors into members, increasing their email subscription list, or converting members into</div>
                    </div>

                    <div class="article__footer">
                        <a class="btn btn--white" href="#">Read More</a>
                    </div>
                </article>
            </div>
        </div><!-- /.article__inner -->
    </div><!-- /.container -->
</div><!-- /.article -->