<!-- Benefits -->
<section class="benefits">
    <div class="container">
        <div class="benefits__inner">
            <div class="benefits__content" data-aos="fade-right">
                <h2 class="benefits__title">Why DaPixel?</h2>
                <div class="benefits__text">To get customers, it's imperative to be seen by the mass. Every successful company is unique and needs contrasting digital marketing strategies. Book a meeting with us and we will help you find the correct strategy for your company.</div>
                <a class="btn  btn--text__24 btn--big">Book Free Meeting</a>
            </div>
            
            <div class="benefits__photo">
                <img class="benefits__photo-img" src="assets/images/svg/benefits/benefits.svg" alt="why DaPixel"></img>
            </div>
        </div>
    </div>
</section>