<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__block">
                <div class="footer__nav">
                    <div class="footer__title">
                        <a class="footer__logo" href="#">
                            <img class="footer__logo-icon" src="assets/images/svg/logo.svg" alt="dapixel">
                        </a>
                    </div>

                    <address class="footer__address">
                        <ul class="footer__list">
                            <li class="footer__list-item">REBORN STUDIO AB</li>
                            <li class="footer__list-item">Org.nr: 559264-1871</li>
                            <li class="footer__list-item">Lunar Holding LDA</li>
                            <li class="footer__list-item">
                                <a class="" href="mailto:info@dapixel.io">info@dapixel.io</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="tel:+46720478390">+467-20478390</a>
                            </li>
                        </ul>
                    </address>

                    <div class="footer__social">
                        <a class="footer__social-link" href="#" target="_blank">
                            <svg class="footer__social-icon">
                                <use href="assets/images/svg/sprites.svg#facebook"></use>
                            </svg>
                        </a>

                        <a class="footer__social-link" href="#" target="_blank">
                            <svg class="footer__social-icon">
                                <use href="assets/images/svg/sprites.svg#twitter"></use>
                            </svg>
                        </a>

                        <a class="footer__social-link" href="#" target="_blank">
                            <svg class="footer__social-icon">
                                <use href="assets/images/svg/sprites.svg#linkedin"></use>
                            </svg>
                        </a>

                        <a class="footer__social-link" href="#" target="_blank">
                            <svg class="footer__social-icon">
                                <use href="assets/images/svg/sprites.svg#instagram"></use>
                            </svg>
                        </a>
                    </div>
                </div><!-- /.footer__block -->
            </div><!-- /.footer__nav -->

            <div class="footer__block">
                <div class="footer__nav">
                    <div class="footer__title">Company</div>

                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a class="" href="index.html">Home</a>
                        </li>
                        <li class="footer__list-item">
                            <a class="" href="about.html">About Us</a>
                        </li>
                        <li class="footer__list-item">
                            <a class="" href="blog.html">Lunar Blog</a>
                        </li>
                        <li class="footer__list-item">
                            <a class="" href="specialists.html">Our Specialists</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#">Contact Us</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#">Privacy & Policy</a>
                        </li>
                    </ul>
                </div>

                <div class="footer__nav">
                    <div class="footer__title">Services</div>

                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a class="" href="services.html">Digital Marketing</a>
                        </li>
                        <li class="footer__list-item">
                            <a class="" href="audit.html">Free Audit</a>
                        </li>
                        <li class="footer__list-item">
                            <a class="" href="#">Google Ads</a>
                        </li>
                        <li class="footer__list-item">
                            <a class="" href="services.html">Cryptocurrency Marketing</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#">SEO</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="services.html">SAAS Marketing</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="services.html">Website & SEO</a>
                        </li>
                    </ul>
                </div>
            </div><!-- /.footer__block -->
        </div><!-- /.footer__inner -->
    </div><!-- /.container -->
</footer>
