<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__block">
                <div class="footer__nav">
                    <div class="footer__title">
                        <a class="footer__logo" href="#">
                            <img class="footer__logo-icon" src="assets/images/svg/logo.svg" alt="dapixel">
                        </a>
                    </div>

                    <address class="footer__address">
                        <ul class="footer__list">
                            <li class="footer__list-item">REBORN STUDIO AB</li>
                            <li class="footer__list-item">Org.nr: 559264-1871</li>
                            <li class="footer__list-item">Lunar Holding LDA</li>
                            <li class="footer__list-item">
                                <a class="" href="mailto:info@dapixel.io">info@dapixel.io</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="tel:+46720478390">+467-20478390</a>
                            </li>
                        </ul>
                    </address>
                </div><!-- /.footer__block -->
            </div><!-- /.footer__nav -->

            <div class="footer__block">
                <div class="footer__nav">
                    <div class="footer__title">Company</div>

                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a class="" href="index.html">Home</a>
                        </li>
                        <li class="footer__list-item">
                            <a class="" href="#">About Us</a>
                        </li>
                        <li class="footer__list-item">
                            <a class="" href="#">Lunar Blog</a>
                        </li>
                        <li class="footer__list-item">
                            <a class="" href="#">Our Specialists</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#">Contact Us</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#">Privacy & Policy</a>
                        </li>
                    </ul>
                </div>

                <div class="footer__nav">
                    <div class="footer__title">Services</div>

                    <ul class="footer__list">
                        <li class="footer__list-item">
                            <a class="" href="index.html">Home</a>
                        </li>
                        <li class="footer__list-item">
                            <a class="" href="#">About Us</a>
                        </li>
                        <li class="footer__list-item">
                            <a class="" href="#">Lunar Blog</a>
                        </li>
                        <li class="footer__list-item">
                            <a class="" href="#">Our Specialists</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#">Contact Us</a>
                        </li>
                        <li class="footer__list-item">
                            <a href="#">Privacy & Policy</a>
                        </li>
                    </ul>
                </div>
            </div><!-- /.footer__block -->
        </div><!-- /.footer__inner -->
    </div><!-- /.container -->
</footer>
