<!-- Request -->
<div class="request">
    <div class="container">
        <div class="request__inner">
            <div class="request__info">
                <div class="request__info-item">
                    <div class="request__title">Let us discuss your marketing strategy!</div>
                    <ul class="request__list">
                        <li class="request__list-item">Org.nr: 559264-1871</li>
                        <li class="request__list-item">Lunar Holding LDA</li>
                        <li class="request__list-item">
                            <a href="mailto:info@lunarstrategy.com">info@lunarstrategy.com</a>
                        </li>

                        <li class="request__list-item">
                            <a href="tel:+46720478390">+467-20478390</a>
                        </li>
                    </ul>

                    <div class="request__social">
                        <a class="request__link" href="#" target="_blank">
                            <svg class="request__link-icon">
                                <use href="assets/images/svg/sprites.svg#facebook"></use>
                            </svg>
                        </a>

                        <a class="request__link" href="#" target="_blank">
                            <svg class="request__link-icon">
                                <use href="assets/images/svg/sprites.svg#twitter"></use>
                            </svg>
                        </a>

                        <a class="request__link" href="#" target="_blank">
                            <svg class="request__link-icon">
                                <use href="assets/images/svg/sprites.svg#linkedin"></use>
                            </svg>
                        </a>

                        <a class="request__link" href="#" target="_blank">
                            <svg class="request__link-icon">
                                <use href="assets/images/svg/sprites.svg#instagram"></use>
                            </svg>
                        </a>
                    </div>

                    <a class="btn btn--trans btn--text__20 btn--radius" href="#">Book a free consultation</a>
                </div><!-- /.request__info-item -->
            </div><!-- /.request__info -->

            <div class="request__form">
                <div class="request__form-title">Or you can also contact us here</div>
                <form class="form" id="form" action="/" method="post">
                    <div class="form__group">
                        <input class="request__form-group__input" id="username" type="text" name="name" placeholder="Name">
                        <div class="form__error"></div>
                    </div>

                    <div class="form__group">
                        <input class="request__form-group__input" id="email" type="email" name="email" placeholder="Email">
                        <div class="form__error"></div>
                    </div>

                    <div class="form__group">
                        <input class="request__form-group__input" id="subject" type="text" name="subject" placeholder="Subject">
                        <div class="form__error"></div>
                    </div>

                    <div class="form__group">
                        <textarea class="request__form-group__textarea" id="textarea" name="input-text" placeholder="Massage"></textarea>
                        <div class="form__error"></div>
                    </div>

                    <button class="btn btn--request btn--text__20" type="submit">Send</button>
                </form>
            </div>
        </div><!-- /.request__inner -->
    </div><!-- /.container -->
</div><!-- /.requset -->