<!-- Reviews -->
<section class="section">
    <div class="container">
        <h3 class="section__title">Our Testimonials</h3>

        <div class="reviews">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="reviews__square">
                            <svg class="reviews__quote">
                                <use href="assets/images/svg/sprites.svg#quote"></use>
                            </svg>
                        </div>

                        <div class="reviews__content">
                            <div class="reviews__text">
                                <p>Lunar Strategy helped us with our digital marketing for 4 months now and still helps us. Great service and highly recommended.
                                </p>
                            </div>
                            <div class="reviews__author">Kimmo Hakonen<span class="reviews__position">Skrum Master at DaGear AB</span></div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="reviews__square">
                            <svg class="reviews__quote">
                                <use href="assets/images/svg/sprites.svg#quote"></use>
                            </svg>
                        </div>

                        <div class="reviews__content">
                            <div class="reviews__text">
                                <p>Lunar marketing for 4 months now and still helps us. Great service and highly recommended.</p>
                            </div>
                            <div class="reviews__author">Vincent Vega<span class="reviews__position">Proffesional dancer</span></div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="reviews__square">
                            <svg class="reviews__quote">
                                <use href="assets/images/svg/sprites.svg#quote"></use>
                            </svg>
                        </div>

                        <div class="reviews__content">
                            <div class="reviews__text">
                                <p>Lunar marketing for 4 months now and still helps us. Great service and highly recommended. Nice work.</p>
                            </div>
                            <div class="reviews__author">Juls Winfield<span class="reviews__position">Proffesional hairdresser</span></div>
                        </div>
                    </div>
                </div><!-- /.swiper-wrapper -->

                <div class="swiper-buttonss">
                    <a href="#" class="swiper-button-prev">
                        <svg class="swiper-button-arrow">
                            <use href="assets/images/svg/sprites.svg#arrow-left"></use>
                        </svg>
                    </a>

                    <a href="#" class="swiper-button-next">
                        <svg class="swiper-button-arrow">
                            <use href="assets/images/svg/sprites.svg#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div><!-- /.swiper -->

        </div><!-- /.reviews -->
    </div><!-- /.container -->
</section><!-- /.section -->